/* 

**Table-Content
1.Header

2.Banner

3.Testimonials
    **bg-color: #f2f2f2

4.Video Testimonials
    **bg-color: #1d2440;

5.newsletter

6.Client-feedback
    **bg-color: #f2f2f2;
                #f4f4f4;

7.Case Studies

8.Partner
    **bg-color: #f4f4f4;

9.Footer
    **bg-color: #172e58;



========== // End of Table Content \\ ===========
*/

@font-face {
    src: url('../fonts/Montserrat-Regular.otf');
    font-family: Mregular;
}

@font-face {
    src: url('../fonts/Montserrat-Bold.otf');
    font-family: Mbold;
}

@font-face {
    src: url('../fonts/Exo-Bold.otf');
    font-family: Ebold;
}